# better-auth
# 生成方式: openssl rand -base64 32
BETTER_AUTH_SECRET="replace-me-with-a-random-32-byte-base64-string"
# 应用 base URL，本地开发用 http://localhost:3000
BETTER_AUTH_URL="http://localhost:3000"

# Prisma / PostgreSQL
# 本地开发示例，按需替换 user / password / host / port / database
DATABASE_URL="postgresql://user:password@localhost:5432/nextjs-mui-starter?schema=public"